[Unit]
Description=Secure Boot DBX (blacklist) updater
ConditionPathExists=/sys/firmware/efi/efivars

[Install]
WantedBy=multi-user.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/dbxtool -a /usr/share/dbxtool/ -q
