[Unit]
Description=Secure Boot DBX updater
RequiresMountsFor=/usr/bin/ /usr/share/dbxtool/

[Install]
WantedBy=basic.target multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/dbxtool -a /usr/share/dbxtool/
